[Unit]
Description=Update registry repository every 6 hours
Documentation=man:systemd.timer(5)

[Timer]
OnCalendar=*-*-* 4:00:00
Persistent=true
RandomizedDelaySec=300
AccuracySec=1h

[Install]
WantedBy=timers.target
